fastapi
uvicorn[standard]
pydantic
python-dotenv
requests
transformers
torch
sentence-transformers
spacy
Pillow
pytesseract
tavily-python
pymupdf
python-docx
python-multipart
trafilatura
python-multipart